# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List popular languages for Data Science
- Introduce common libraries in Data Science
- Explore open-source tools in Data Science
- Sample Arithmetic calculations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. MATLAB
5. SQL
6. C/C++
7. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Caret

| Data Science Tools |
|--------------------|
| Anaconda           |
| Spyder             |
| R Studio           |
| Jupyter Notebooks  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
hours= (200/60)
print("200 minutes is equal to", hours,"hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Anirudh KD